#ad_wrap,
#nav_wrap,
#menu_wrap_b,
main,
footer {
  width: 100%;
}

.ad-wrap,
nav,
.logo-wrap,
.menu-wrap,
.menu-bottom,
.promotion-wrap,
.square-wrap,
.recommend-wrap,
.links-wrap {
  width: 1190px;
  margin: 0 auto;
}

#ad_wrap {
  background: #005caf;
}

.ad-wrap {
  height: 100px;
}

.ad-wrap img {
  width: 100%;
  height: 100%;
}

#nav_wrap {
  background: #f5f5f5;
  height: 35px;
}

#nav_wrap li a {
  padding: 0 10px;
  line-height: 35px;
  color: #666666;
}

.nav-right {
  float: right;
}

.logo-wrap {
  height: 110px;
  display: flex;
  align-items: center;
}

.logo-left {
  width: 360px;
  display: flex;
  align-items: center;
}

.logo-left h1 img {
  width: 200px;
}

.logo_c {
  display: block;
  width: 160px;
  height: 110px;
  float: left;
}

.logo-center {
  /* padding: 30px 0 6px; */
  margin-left: 15px;
}

.logo_c_t {
  display: flex;
}

.logo_c_t input:nth-of-type(1) {
  width: 420px;
  height: 36px;
  border: 2px solid #ffa402;
}

.logo_c_t input:nth-of-type(1)::placeholder {
  color: #ccc;
  text-indent: 20px;
}

.logo_c_t input:nth-of-type(2) {
  display: inline-block;
  width: 120px;
  height: 40px;
  color: #ffffff;
  background: #ffa402;
  border: 0;
}

.logo_c_b span {
  color: #999;
}

.logo_c_b span.active {
  color: #ffa402;
}

.logo_c_b span:not(:last-child)::after {
  content: '|';
  padding: 8px;
  color: #dcdcdc;
}

.menu-wrap {
  height: 40px;
}

.menu-top {
  display: flex;
  justify-content: space-between;
}

.menu-top span,
.menu-top a {
  font-size: 14px;
}

.menu_t_l {
  width: 200px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #F90;
  color: #fff;
}

.menu_t_l i {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin: 0 10px;
  background: url(https://res.suning.cn/project/cmsWeb/suning/homepage/v6/css/images/index.png?v=2020011301) 0 0;
}

.menu_t_c li a {
  font-weight: bold;
}

.menu_t_c {
  width: 750px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 14px;
}

.menu_t_r {
  width: 180px;
  height: 40px;
  font-size: 12px;
  display: flex;
  align-items: center;
}

.menu_t_r img {
  width: 100%;
  height: 100%;
}

.menu_t_r input:nth-of-type(1) {
  width: 150px;
  height: 20px;
  text-indent: 5px;
  margin-right: 4px;
}

.site-wrap,
.list-top,
.list-box {
  width: 1190px;
  margin: 0 auto;
}

.site-wrap p {
  height: 50px;
}

.list-top {
  height: 36px;
}

.shop-title {
  height: 55px;
}

.list-wrap ul,
.shop-title,
.shop-bottom {
  padding-left: 10px;
}

.list-wrap ul {
  width: 1178px;
  display: flex;
  justify-content: space-between;
}

.list-top {
  border: 1px solid #ccc;
  height: 30px;
  margin-bottom: 20px;
}

.list-top ul li {
  line-height: 30px;
}

.list-wrap ul li:nth-of-type(1) {
  width: 140px;
  text-align: left;
}

.shop-title {
  background-color: #fff5e2;
  border: 1px solid #ccc;
  border-width: 1px 1px 0 1px;
  line-height: 40px;
  height: 40px;
}

.list-wrap .shop {
  background-color: #fffbf2;
  width: 1178px;
  border: 1px solid #ccc;
  padding: 15px 0px 15px 10px;
  margin-bottom: 10px;
}

.list-box .shop-box:last-of-type {
  margin-bottom: 10px;
}

.shop img {
  width: 80px;
  height: 80px;
}

.list-wrap li:nth-of-type(1) {
  padding-right: 20px;
}

.shop li:nth-of-type(1) {
  padding-left: 20px;
  padding-right: 0;
  display: flex;
  align-content: flex-start;
}

.list-wrap li:nth-of-type(2) {
  width: 230px;
}

.list-wrap li:nth-of-type(3) {
  width: 140px;
  color: #999;
}

.shop li:nth-of-type(3) {
  color: #999;
}

.list-wrap li:nth-of-type(4) {
  width: 80px;
}

.list-wrap li:nth-of-type(5) {
  width: 70px;
}

.list-wrap li:nth-of-type(6) {
  width: 200px;
}

.list-wrap li:nth-of-type(7) {
  width: 200px;
}

.shop-bottom {
  width: 1178px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 1px solid #ccc;
}

.shop-left {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-right {
  width: 550px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-right span {
  display: block;
  text-align: center;
  line-height: 60px;
}

.shop-right span:nth-of-type(4) {
  display: block;
  width: 120px;
  height: 60px;
  background: #f60;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.shop-box {
  overflow: hidden;
}

.shop p input {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  background: #fff;
  text-align: center;
}

/*# sourceMappingURL=carlist.css.map */
