@charset 'utf-8';
@import '_header';
.menu_b_r1 {
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.menu_b_r11 {
    width: 52px;
    height: 52px;
    background: url(https://res.suning.cn/project/cmsWeb/suning/homepage/v6/css/images/index.png?v=2020011301) -300px -75px;
}

.menu_b_r2 {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu_b_r2 input {
    width: 155px;
    height: 25px;
}

.menu_b_r2 input:nth-of-type(1) {
    background: #ff7f00;
    color: #fff;
}

.menu_b_r2 input:nth-of-type(2) {
    background: #353676;
    color: #fbe0a8;
}

.menu_b_r3 {
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.menu_b_r31 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.menu_b_r31 i {
    display: block;
    background: #353676;
    width: 36px;
    height: 36px;
}

.menu_b_r31 p {
    /* width: 50px; */
    text-align: center;
}

.menu-bottom {
    height: 477px;
    position: relative;
}

.menu_b_l {
    width: 200px;
    height: 477px;
    position: absolute;
    left: 0;
}

.menu_b_l ul {
    width: 200px;
    background: #000;
    color: #fff;
    height: 477px;
}

.menu_b_l li:hover {
    background: #fff;
    color: #f90;
}

.menu_b_l li {
    float: none;
    width: 200px;
    height: 32px;
}

.menu_b_l li span {
    float: left;
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
}

.menu_b_l li span:not(:last-child):after {
    content: '|';
    color: #ccc;
    padding-left: 10px;
}

.menu_b_l .list-box {
    position: absolute;
    top: 0;
    left: 200px;
    background: #fff;
    z-index: 1;
    display: none;
}

.menu_b_l .list-box .list {
    display: none;
}

.list-box .list {
    width: 999px;
    height: 477px;
    display: flex;
}

.list-box .list1 {
    width: 809px;
    height: 477px;
}

.list-box dl {
    display: flex;
}

.list-box dl dt {
    flex: 1;
    height: 60px;
}

.list-box dl dd {
    flex: 4;
    height: 60px;
}

.menu_b_c {
    width: calc(100% - 395px);
    background: yellow;
    height: 477px;
    position: absolute;
    left: 200px;
}

.menu_b_c ul {
    width: 100%;
    height: 477px;
}

.menu_b_c ul li {
    position: absolute;
    top: 0;
    left: 0;
}

.menu_b_c ul li img {
    width: 100%;
    height: 477px;
}

.menu_b_c ol {
    position: absolute;
    top: 330px;
    left: 280px;
}

.menu_b_c ol li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    margin-left: 8px;
}

.menu_b_c .left,
.menu_b_c .right {
    font-size: 100px;
    color: #fff;
    position: absolute;
    top: 50%;
}

.menu_b_c .left:hover,
.menu_b_c .right:hover {
    color: red;
}

.menu_b_c .left {
    left: 20px;
}

.menu_b_c .right {
    right: 20px;
}

.menu_b_c nav {
    width: calc(100% - 10px);
    position: absolute;
    left: 5px;
    bottom: 5px;
    display: flex;
    justify-content: space-evenly;
}

.menu_b_c nav li {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 190px;
    height: 110px;
    background: #fff;
    border-radius: 5px;
}

.menu_b_c nav .box {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu_b_c nav .img {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_b_c nav li span:nth-of-type(1) {
    color: rgb(239, 65, 36);
    margin: 10px 0 0 12px;
    font-size: 16px;
}

.menu_b_c nav li span:nth-of-type(2) {
    color: #999;
    margin: 1px 0 0 12px;
}

.menu_b_r {
    width: 195px;
    height: 477px;
    background: #fff;
    position: absolute;
    right: 0;
}

main {
    background: #f2f2f2;
}

main>nav {
    width: 70px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 667px);
    background: #fff;
    border: 1px solid #ccc;
    border-width: 1px 1px 0 1px;
}

main>nav li {
    float: none;
    width: 70px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
}

main>nav .active {
    background: #f90;
    color: #fff;
    border-bottom: 0;
}

.promotion-wrap {
    height: 940px;
    padding: 5px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.promotion {
    width: 590px;
    height: 300px;
    background: #fff;
}

.promotion-title h2 {
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    padding: 0 20px;
}

.promotion-title h2 span {
    float: right;
    height: 60px;
    line-height: 60px;
}

.promotion-box {
    display: flex;
    justify-content: space-evenly;
}

.promotion-box .box {
    width: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.promotion-box .box div {
    width: 100%;
    height: 140px;
    text-align: center;
}

.promotion-box .box img {
    height: 100%;
}

.square-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.square-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.square {
    width: 590px;
    margin: 10px 0;
}

.square_title {
    background: #f9f9f9;
}

.square_title span {
    color: #33ae75;
    font-size: 18px;
    margin-left: 15px;
}

.square_title span,
.square_title li {
    height: 45px;
    line-height: 45px;
    margin-right: 20px;
}

.square_title li {
    color: #666666;
}

.square_title ul {
    float: right;
}

.square_body {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

.square1 {
    width: 190px;
    height: 360px;
}

.square1 img {
    width: 100%;
    height: 100%;
}

.square2-box {
    width: 400px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
}

.square2 {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.square_p1 {
    font-size: 16px;
    line-height: 16px;
}

.square_p2 {
    line-height: 12px;
    color: #33ae75;
}

.square2 img {
    width: 120px;
    height: 120px;
}

.square3-box {
    width: 590px;
    display: flex;
    justify-content: space-evenly;
}

.square3 {
    display: flex;
}

.square31 {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.square32 {
    width: 80px;
    height: 110px;
    display: flex;
    align-items: center;
}

.square32 img {
    width: 80px;
    height: 80px;
}

.square4-box {
    width: 590px;
    height: 50px;
    display: flex;
}

.square4-box .box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.square4-box img {
    width: 80%;
}

.recommend-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend {
    background: #fff;
    width: 200px;
    height: 300px;
    padding: 15px 15px 0px 15px;
    margin-bottom: 10px;
    // margin-right: 10px;
}

.recommend img {
    width: 200px;
    height: 200px;
}

.recommend-title span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
}

.recommend .ms-price {
    color: #2e353b;
}

.recommend b {
    color: #ea8f36;
    float: right;
}

.links-wrap {
    background: purple;
    height: 280px;
}

footer {
    background: rosybrown;
    height: 225px;
}