@charset 'utf-8';
@import '_header';
@mixin displayvalue($d:flex, $j:space-evenly, $a:center) {
    display: $d;
    justify-content: $j;
    align-items: $a;
}

.menu_b_r1 {
    height: 70px;
    @include displayvalue(flex, space-evenly, center);
    .menu_b_r11 {
        width: 52px;
        height: 52px;
        background: url(https://res.suning.cn/project/cmsWeb/suning/homepage/v6/css/images/index.png?v=2020011301) -300px -75px;
    }
}

.menu_b_r2 {
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    input {
        width: 155px;
        height: 25px;
    }
    input:nth-of-type(1) {
        background: #ff7f00;
        color: #fff;
    }
    input:nth-of-type(2) {
        background: #353676;
        color: #fbe0a8;
    }
}

.menu_b_r3 {
    height: 320px;
    flex-wrap: wrap;
    @include displayvalue(flex, space-evenly, center);
    .menu_b_r31 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 30%;
        i {
            display: block;
            background: #353676;
            width: 36px;
            height: 36px;
        }
        p {
            /* width: 50px; */
            text-align: center;
        }
    }
}

.menu-bottom {
    height: 477px;
    position: relative;
}

.menu_b_l {
    width: 200px;
    height: 477px;
    position: absolute;
    left: 0;
    ul {
        width: 200px;
        background: #000;
        color: #fff;
        height: 477px;
    }
    li:hover {
        background: #fff;
        color: #f90;
    }
    li {
        float: none;
        width: 200px;
        height: 32px;
        span {
            float: left;
            height: 32px;
            line-height: 32px;
            padding-left: 10px;
        }
        span:not(:last-child):after {
            content: '|';
            color: #ccc;
            padding-left: 10px;
        }
    }
    .list-box {
        position: absolute;
        top: 0;
        left: 200px;
        background: #fff;
        z-index: 1;
        display: none;
        .list {
            width: 999px;
            height: 477px;
            display: none;
        }
        .list1 {
            width: 809px;
            height: 477px;
        }
        dl {
            display: flex;
            dt {
                flex: 1;
                height: 60px;
            }
            dd {
                flex: 4;
                height: 60px;
            }
        }
    }
}

.menu_b_c {
    width: calc(100% - 395px);
    background: yellow;
    height: 477px;
    position: absolute;
    left: 200px;
    ul {
        width: 100%;
        height: 477px;
        li {
            position: absolute;
            top: 0;
            left: 0;
            img {
                width: 100%;
                height: 477px;
            }
        }
    }
    ol {
        position: absolute;
        top: 330px;
        left: 280px;
        li {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #fff;
            margin-left: 8px;
        }
    }
    .left,
    .right {
        font-size: 100px;
        color: #fff;
        position: absolute;
        top: 50%;
    }
    .left:hover,
    .right:hover {
        color: red;
    }
    .left {
        left: 20px;
    }
    .right {
        right: 20px;
    }
    nav {
        width: calc(100% - 10px);
        position: absolute;
        left: 5px;
        bottom: 5px;
        display: flex;
        justify-content: space-evenly;
        li {
            @include displayvalue(flex, space-evenly, center);
            width: 190px;
            height: 110px;
            background: #fff;
            border-radius: 5px;
            span:nth-of-type(1) {
                color: rgb(239, 65, 36);
                margin: 10px 0 0 12px;
                font-size: 16px;
            }
            span:nth-of-type(2) {
                color: #999;
                margin: 1px 0 0 12px;
            }
        }
        .box {
            width: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .img {
            width: 80px;
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.menu_b_r {
    width: 195px;
    height: 477px;
    background: #fff;
    position: absolute;
    right: 0;
}

main {
    background: #f2f2f2;
}

main>nav {
    width: 70px;
    position: fixed;
    top: calc(50% - 150px);
    left: calc(50% - 667px);
    background: #fff;
    border: 1px solid #ccc;
    border-width: 1px 1px 0 1px;
    li {
        float: none;
        width: 70px;
        height: 30px;
        line-height: 30px;
        border-bottom: 1px solid #ccc;
    }
    .active {
        background: #f90;
        color: #fff;
        border-bottom: 0;
    }
}

.promotion-wrap {
    height: 940px;
    padding: 5px 0;
    @include displayvalue(flex, space-between, center);
    flex-wrap: wrap;
}

.promotion {
    width: 590px;
    height: 300px;
    background: #fff;
}

.promotion-title h2 {
    height: 60px;
    line-height: 60px;
    font-size: 26px;
    padding: 0 20px;
    span {
        float: right;
        height: 60px;
        line-height: 60px;
    }
}

.promotion-box {
    display: flex;
    justify-content: space-evenly;
    .box {
        width: 170px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        img {
            width: 150px;
            height: 150px;
        }
    }
}

.square-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.square-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.square {
    width: 590px;
    margin: 10px 0;
}

.square_title {
    background: #f9f9f9;
    span {
        color: #33ae75;
        font-size: 18px;
        margin-left: 15px;
        height: 45px;
        line-height: 45px;
        margin-right: 20px;
    }
    li {
        height: 45px;
        line-height: 45px;
        margin-right: 20px;
        color: #666666;
    }
    ul {
        float: right;
    }
}

.square_body {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
}

.square1 {
    width: 190px;
    height: 360px;
    img {
        width: 100%;
        height: 100%;
    }
}

.square2-box {
    width: 400px;
    height: 360px;
    display: flex;
    flex-wrap: wrap;
}

.square2 {
    width: 200px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    img {
        width: 120px;
        height: 120px;
    }
}

.square_p1 {
    font-size: 16px;
    line-height: 16px;
}

.square_p2 {
    line-height: 12px;
    color: #33ae75;
}

.square3-box {
    width: 590px;
    display: flex;
    justify-content: space-evenly;
}

.square3 {
    display: flex;
}

.square31 {
    width: 110px;
    height: 110px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.square32 {
    width: 80px;
    height: 110px;
    display: flex;
    align-items: center;
    img {
        width: 80px;
        height: 80px;
    }
}

.square4-box {
    width: 590px;
    height: 50px;
    display: flex;
    .box {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        width: 80%;
    }
}

.recommend-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.recommend {
    background: #fff;
    width: 200px;
    height: 300px;
    padding: 15px 15px 0px 15px;
    margin-bottom: 10px;
    // margin-right: 10px;
    img {
        width: 200px;
        height: 200px;
    }
    .ms-price {
        color: #2e353b;
    }
    b {
        color: #ea8f36;
        float: right;
    }
}

.recommend-title span {
    font-size: 16px;
    font-weight: bold;
    margin-left: 15px;
    height: 40px;
    line-height: 40px;
}

.links-wrap {
    background: purple;
    height: 280px;
}

footer {
    background: rosybrown;
    height: 225px;
}